table , tr , td , th{
    color: whitesmoke;
    font-weight: 800px;
}

table{
    background: rgba(189, 231, 150, 0.3) /* Green background with 30% opacity */
}

@media screen and (min-width: 1px) and (max-width: 767px){
    #columns[data-columns]::before {
            content: '2 .col-xs-6';
        }
    }
    @media screen and (min-width:768px) and (max-width: 991px){
        #columns[data-columns]::before {
            content: '3 .col-sm-4';
        }
    }
    @media screen and (min-width:992px) and (max-width: 9999px){
        #columns[data-columns]::before {
            content: '4 .col-md-3';
        }
    }